:root {
    --font-size-large: 35px;
    --bold-weight: 600;
}

.mainpage {
    display: flex;
}

.left {
    position: relative;
    flex-shrink: 0;
    height: auto;
    width: 40%;
}

.left img {
    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 50%; /* start at vertical center */
    left: 50%; /* horizontal center */
    transform: translate(-50%, -60%); /* shift up by 10% of its height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 45px;
    z-index: 2;
    width: 100%;
}

.overlay h1 {
    background: grey;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}

#features {
    background: rgb(219, 214, 214);
    padding-top: 10%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 200px;
}

#features p {
    font-size: var(--font-size-large);
    font-weight: var(--bold-weight);
}

#signupform {
    padding: 50px;
    background-color: white;
}

#createandlogin {
    padding: 50px;
    background: rgb(219, 214, 214);
}

form {
    max-width: 700px;
}

fieldset {
    display: flex;
    gap: 100px;
    border: 1px solid #ccc;
    padding: 20px; /* space inside the box */
    margin-bottom: 20px;
}

legend {
    font-size: var(--font-size-large);
    font-weight: var(--bold-weight);
    padding: 0 10px; /* spacing from edges of the fieldset */
}

label {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid #e5e7eb; /* light grey */
    box-sizing: border-box;
}

input:focus {
    border: 2px solid rgb(88, 124, 221);
    outline: none;
}

input[type="password"]:invalid {
    border: 2px solid red;
}
